/* ##################### RODAPE ##################### */
.rodape{
   width: 95%;
   margin: 5% auto 2%;
   font-family: 'nunito sans',sans-serif;
   height: auto;
}

.redes-sociais{
   margin-top: 4%;
}

.icon-redes-sociais{
   margin-top: 2%;
}

.lista-icon-sociais{
   display: flex;
   gap: 5px;
}

.lista-icon-sociais li{
   width: 15px;
   height: 15px;
   border-radius: 100%;
   padding: 10px;
   border: 2px solid #f0f3f7;
}

.img-icon{
   width: 15px;
   height: 15px;
}

.linha{
   border: 1px solid #c7c7c7;
   border-bottom: none;
   margin-top: 2%;
}

.conteudo-final .container {
   display: flex;
   justify-content: space-between;
   width: auto;
   font-family: 'nunito sans', sans-serif;
   margin-top: 2%;
}

.texto-conteudo-final{
   width: 60%;
}

.politicas-rodape{
   text-decoration: none;
   color: #353a40;
}

.autorais-rodape{
   color: #6b7480;
   line-height: 3.0em;
}

.endereco{
   color: #6b7480;
   line-height: 1.5em;
}